body {
  margin: 0;
  font-family: 'Nunito', 'Fjalla One', 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* font-family: 'Fjalla One', sans-serif; */